.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.Container {
    border: 1px;
}

.Container th, td {
    padding: 10px;
}

.divteste {
    display: flex;
}