.Container {
  width: 250px;
  height: auto;
  background-color: #111111;
  box-sizing: border-box;
  overflow: hidden;
}

.newTask {
  background-color: #3c8dbc;
  width: 250px;
  padding: 0.75em;
  color: white;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.menu {
  padding: 0.75em;
  color: white;
  font-weight: 300;
}

.sideButton {
  display: flex;
  align-items: center;
  background-color: #1e282c;
  color: white;
  padding: 0.75em;
  gap: 8px;
  cursor: pointer;
}

.sideButton:hover,
.newTask:hover {
  border: 1px solid white;
  margin-right: 2px;
}

.containerAcordeon p {
  display: flex;
  gap: 8px;
}

.containerAcordeon p:hover {
  width: 100%;
  border-bottom: 1px solid white;
}
