.Container {
    position: relative;
    background-color: azure;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    max-width: 1080px;
    margin: 2em 0;

    position: absolute;
    left: 30rem;
    top: 3.1rem;
    }